@model Book

<h2>@Model.Title</h2>
<strong>@Model.Author</strong>

<div>
    <p>@Model.Genre</p>
    <p>Published on @Model.PublicationDate</p>
    <p>Condition: @Model.Condition</p>
    @if(Model.IsAvailable)
    {
        <p>Currently Available</p>
    } else
    {
        <p>Currently Unavailable</p>
    }
    <p>Can be found at @ViewBag.BookLocation | Shelf @Model.LocationInLibrary</p>

    @if (User.IsInRole("Staff") || User.IsInRole("Admin"))
    {    
        <div>
            <a asp-controller="Book" asp-action="Update" asp-route-BookID="@Model.BookID">Update</a>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Book" asp-action="Delete" asp-route-BookID="@Model.BookID">Delete</a>
            }
        </div>
    }
</div>

<a asp-controller="Book" asp-action="Index">Back to selection</a>