@model RecommendedViewModel

<h2>Recommended</h2>

<div>
    @if(Model.GenreBooks.Count == 0 && Model.AuthorBooks.Count == 0)
    {
        <h3>Theres nothing to recommend!</h3>
        <p>Find some good books <a asp-controller="Book" asp-action="Index">Here</a></p>
    }
    else
    {
        
        <h4 class="genres">From genres you like:</h4>
        @foreach (var genreEntry in Model.GenreBooks)
        {
            <h5 class="text-black-50">@genreEntry.Key</h5>
            <ul class="row row-cols-4 list-unstyled">
            @foreach(Book book in genreEntry.Value)
            {
                <li class="col" >
                    <div class="card book-card h-100 pb-3">
                        <a asp-controller="Book" asp-action="Details" asp-route-BookID="@book.BookID" class="text-decoration-none">
                            <div class="card-body">
                                <h6 class="card-title">@book.Title</h6>
                                <p class="card-subtitle mb-2 text-black-50">@book.Author</p>
                            </div>
                        </a>
                    </div>
                </li>
            }
            </ul>
        }
        <h4 class="authors">From authors you like:</h4>
        @foreach (var authorEntry in Model.AuthorBooks)
        {
            <h5 class="text-black-50">@authorEntry.Key</h5>
            <ul class="row row-cols-4 list-unstyled">
            @foreach(Book book in authorEntry.Value)
            {
                <li class="col">
                    <div class="card book-card h-100 pb-3">
                        <a asp-controller="Book" asp-action="Details" asp-route-BookID="@book.BookID" class="text-decoration-none">
                            <div class="card-body">
                                <h6 class="card-title">@book.Title</h6>
                                <p class="card-subtitle mb-2 text-black-50">@book.Author</p>
                            </div>
                        </a>
                    </div>
                </li>
            }
            </ul>
        }
    }
</div>

<h4 class="previous">Your previous books</h4>
@if(Model.Loans.Count == 0)
{
    <p>You have no previous books</p>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Book Name</th>
                <th>Date Borrowed</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Loan loan in Model.Loans)
            {
                <tr>
                    <td>@loan.Book.Title</td>
                    <td>@loan.DateBorrowed.ToShortDateString()</td>
                    <td>@loan.DueDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}