@model RecommendedViewModel

<h2>Recommended</h2>

<div>
    <h3>From genres you like:</h3>
    @foreach (var genreEntry in Model.GenreBooks)
    {
        <h4>@genreEntry.Key</h4>
        <ul class="row row-cols-4">
        @foreach(Book book in genreEntry.Value)
        {
            <li class="card shadow border-secondary mb-4">
                <a asp-controller="Book" asp-action="Details" asp-route-BookID="@book.BookID" class="text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <h6 class="card-subtitle mb-2">@book.Author</h6>
                    </div>
                </a>
            </li>
        }
        </ul>
    }
    <h3>From authors you like:</h3>
    @foreach (var authorEntry in Model.AuthorBooks)
    {
        <h4>@authorEntry.Key</h4>
        <ul class="row row-cols-4">
        @foreach(Book book in authorEntry.Value)
        {
            <li class="card shadow border-secondary mb-4">
                <a asp-controller="Book" asp-action="Details" asp-route-BookID="@book.BookID" class="text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <h6 class="card-subtitle mb-2">@book.Author</h6>
                    </div>
                </a>
            </li>
        }
        </ul>
    }
</div>

<h3>Your previous books</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Book Name</th>
            <th>Date Borrowed</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Loan loan in Model.Loans)
        {
            <tr>
                <td>@loan.Book.Title</td>
                <td>@loan.DateBorrowed.ToShortDateString()</td>
                <td>@loan.DueDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>